{% extends "adminlte/base.html" %}
{% load i18n %}
{% block content %}

<div class="card col-6" style="margin: auto;">
    <div class="card-body register-card-body">
      <p class="login-box-msg">{% trans 'Recover your password' %}</p>

      <form action="" method="post">{% csrf_token %}
    
        <p>
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
        </p>
        <div class="input-group mb-3">

          <input type="email" class="form-control" placeholder="Email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        
          <!-- /.col -->
          <div class="button" float: right;">
            <button type="submit"  value="Reset password" class="btn btn-primary btn-block">{% trans 'Send' %} </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->

{% endblock %}