{% extends 'adminlte/base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

<link rel="stylesheet" href="/static/drawerJs/dist/drawerJs.css"/>
<style>
    #canvas-editor {
        margin-top: 50px;
        margin-left: 50px;
    }
    #map { height: 500px; }
</style>
{% endblock %}

{% load i18n %}

{% block title %}
Setup
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
                  {% trans 'Setup existing parking' %}
            </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">{% trans 'Setup existing parking' %}
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" style="margin:auto">
      <form action="/manage/add" method="POST" > {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><b>{% trans 'Parking information' %}</b></h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                
                  {% if form.errors %}
                  <div class="fieldWrapper">
                    <p><b>Errors</b></p>
                    {{form.errors}}
                  </div>
                  {% endif %}

                    <input type="hidden" name="hidden_id" value="{{form.instance.id}}" />

                    <div id="canvas-editor" style="margin-right: auto;"></div>

                    <div class="col-9" style="margin-top: 3%; margin-left: auto; margin-right: auto;"> -->
                  <div class="col-12">
                    <button style="display: block ruby;"
                      class="btn btn-success float-right"
                      onclick="saveCanvas()">
                      {% trans 'Save setup' %}
                      </button>
                   </div>
                    <table class="table table-striped">
                          <tr  class="bg-info">
                              <th>V1</th>
                              <th>V2</th>
                              <th>V3</th>
                              <th>V4</th>
                          </tr>
                  
                          <tbody id="myTable">
                              
                          </tbody>
                      </table>
                  </div> 
                  
                  
                </div>



              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
      
        </div>
    
     
    </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% comment %} TODO: https://stackoverflow.com/questions/9864036/send-javascript-data-to-django-views {% endcomment %}

        <script src="/static/drawerJs/dist/jquery-3.4.1.min.js"></script>
        <script src="/static/drawerJs/dist/drawerJs.standalone.js"></script>
        <script src="/static/drawerJs/drawerLocalization.js"></script>
        <script src="/static/drawerJs/drawerJsConfig.js"></script>

        <script>

            var drawer = null;
            var canvasWidth = $(document).width()*0.75;
            var canvasHeight = $(document).height()*0.75;
            var difX = 1280 / canvasWidth;
            var difY = 720 / canvasHeight;


            function buildTable(canvasId, canvasData) {
                //var canvasJson = JSON.stringify(canvasData);
                console.log(canvasData);

                var data = JSON.parse(canvasData)
                var table = document.getElementById('myTable')
                table.innerHTML = "";
               

                for (i in data.objects){

                    var obj = data.objects[i];

                    if(obj.type == "segmentablePolygon"){
                        var row = "<tr>"
                
                        var centerX = parseFloat(obj.left); //Absolute position of upper left vertex
                        var centerY = parseFloat(obj.top);
                        var scaleX = parseFloat(obj.scaleX);
                        var scaleY = parseFloat(obj.scaleY);
                        var sizeX = parseFloat(data.backgroundImage.width);
                        var sizeY = parseFloat(data.backgroundImage.height);

                        // Setting stroke
                        // obj.stroke = "#1f497d",
                        // obj.strokeWidth = 5,
                        // obj.strokeDashArray = [8,8]

                        //console.log(centerX/sizeX*1280, centerY/sizeY*720)


                        for(j in obj.points[0]){
                           point = obj.points[0][j]
                        
                           /* Set centerXY to the actual center of the polygon
                                Translate upper left vertex to the center 
                           */
                           if(j==0){
                            console.log("CenterX: "+centerX + " ; CenterY: "+ centerY)
                            console.log("V1X: "+point.x + " ; V2Y: "+ point.y)
                            
                            centerX = centerX +  Math.abs(point.x)
                            centerY = centerY +  Math.abs(point.y)

                            console.log("New CenterX: "+centerX / sizeX *1280 + " ; CenterY: "+ centerY / sizeY *720)
                           }
                           
                            x = (parseFloat(point.x) + centerX)  / sizeX * 1280
                            y = (parseFloat(point.y) + centerY) / sizeY  * 720                

                            row += "<td>["+x + " , " + y+"]</td>";

                        }
                        row += "</tr>"
                        table.innerHTML += row
                     }
                    
                }
            } //buildTable

            var drawerPlugins = [
                'BackgroundImage',
                'Polygon',
                'ShapeContextMenu',
                'Zoom',
                ];

            $(document).ready(function () {
                    drawer = new DrawerJs.Drawer(null, {
                    texts: customLocalization,
                    align: 'center',
                    plugins: drawerPlugins,
                    defaultImageUrl: '/static/drawerJS/play-button.png', // Click to start
                    defaultActivePlugin : { name : 'Polygon', mode : 'lastUsed'},
                    activeColor: 'rgba(0, 255, 255, 0.55)',
                    pluginsConfig: {
                        BackgroundImage: {
                            scaleDownLargeImage: true,
                            imagePosition: 'stretch',
                            dynamicRepositionImage: true,
                            dynamicRepositionImageThrottle: 100,
                            fixedBackgroundUrl: '/static/drawerJS/parking_sample.jpg',
                        },
                        ShapeBorder: {
                            color: '#F3060A',
                            defaultBorder:  'Dashed bold'
                        },
                        Color: {
                            colors: []
                        }
                    },
                    contentConfig: {
                        saveCanvasData:buildTable,
                        
                    },

                }, canvasWidth, canvasHeight);
                $('#canvas-editor').append(drawer.getHtml());
                
            
                drawer.onInsert();
                drawer.api.startEditing();
                
            });


            function saveCanvas(){
                localStorage.setItem('canvasData', JSON.stringify(drawer.getCanvasData()));

                $(document).ready(function () {
                    drawer2 = new DrawerJs.Drawer(null, {
                        texts: customLocalization,
                        plugins: drawerPlugins,
                        defaultImageUrl: '/static/drawerJS/play-button.png', // Click to start
                        defaultActivePlugin : { name : 'Polygon', mode : 'lastUsed'},
                        pluginsConfig: {
                            BackgroundImage: {
                                scaleDownLargeImage: true,
                                imagePosition: 'stretch',
                                dynamicRepositionImage: true,
                                dynamicRepositionImageThrottle: 100,
                                fixedBackgroundUrl: '/static/drawerJS/parking_sample.jpg',
                            }
                        },

                    }, canvasWidth, canvasHeight);
                    $('#canvas-editor').append(drawer2.getHtml());
                    
                    drawer2.onInsert();
                    drawer2.api.startEditing();
                    drawer2.loadCanvas(localStorage.getItem('canvasData'));
                    
                });
                console.log(localStorage.getItem('canvasData'));
                console.log("saveCanvas");
                
            }

          /** https://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
            * sends a request to the specified url from a form. this will change the window location.
            * @param {string} path the path to send the post request to
            * @param {object} params the parameters to add to the url
            * @param {string} [method=post] the method to use on the form
            */

            function post(path, params, method='post') {

              // The rest of this code assumes you are not using a library.
              // It can be made less verbose if you use one.
              const form = document.createElement('form');
              form.method = method;
              form.action = path;

              for (const key in params) {
                if (params.hasOwnProperty(key)) {
                  const hiddenField = document.createElement('input');
                  hiddenField.type = 'hidden';
                  hiddenField.name = key;
                  hiddenField.value = params[key];

                  form.appendChild(hiddenField);
                }
              }

              document.body.appendChild(form);
              form.submit();
            }

    </script>

{% endblock %}