{% extends "adminlte/base.html" %}

{% load i18n static %}

{% block body_class %}login-page{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}
{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

    <div class="login-box" style="margin: auto;" >
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Vision</b>Park{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                {% block login_errors %}
                    {% if form.errors and not form.non_field_errors %}
                        <p class="alert alert-danger">
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                                {% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endblock login_errors %}

                

                <p class="login-box-msg">Sign in to start your session</p>
                {% block login_form %}
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        {% if message %}
                            <p class="login-box-msg" style="color: red;">{{ message }}</p>
                        {% endif %}
                        <div class="input-group mb-3">
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }} </td>
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-user"></span>
                            </div>
                          </div>
                        </div>
                        <div class="input-group mb-3">
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                {% block login_form_links %}
                                {% endblock %}
                            </div>
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" value="login" class="btn btn-primary btn-block">{% trans 'Sign In' %}</button>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                {% endblock login_form %}
                
                <!-- 
                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                      <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                      <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>

                -->
                <!-- /.social-auth-links -->
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Register a new membership</a>
                </p>

            </div>
            <!-- /.login-card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
{% endblock %}
